body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.unselect {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.board {
    background-image: url('assets/board.jpg');
    width: 100%;
    height: 100%;
    background-size: 150%;
    background-position: 46.9% 41%;

    display: flex;
    justify-content: center;
}

.letter-grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(4, 1fr);

    width: 84.6vw;
    height: 29.4vw;

    margin: auto;

    gap: 0.39vw;
}

.letter-box {
    background-color: white;

    text-align: center;

    line-height: 10px;
}

.letter-box:hover {
    background-color: lightgray;
}

.letter {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
